<ul class="pill-list">
	{{#each jobs}}
		<li class="pill-button" {{action "openModal" "job" this}}>{{position}} - {{company}}</li>
	{{/each}}
</ul><div class="focused-job">
	<button {{action "actionClose"}}>< back</button>
	{{#if focusedJob}}
		<h3>{{focusedJob.position}}</h3>
		<h4>{{focusedJob.company}}</h4>
		<p>{{focusedJob.description}}</p>
	{{/if}}
</div>