<section class="row cover-row">
	<div class="content-area">
		<div class="page-header">
			<h1>{{profile.name}}</h1>
			<h2>Javascript Developer</h2>
			<ul class="nav pill-list inverted">
				{{#each profile.sections}}
					<li {{action "scrollTo" slug}} class="pill-button">{{title}}</li>
				{{/each}}
			</ul>
		</div>
		<div class="colum third"></div
		><div class="colum third"></div
		><div class="colum third callout">
			<h2 class="colum-content">
				Creating things is awesome!
			</h2>
			<p class="colum-content">
				Theres nothing more satisfying than making something that works and works well! So when people call developers wizards, if you've done it, you understand why.  It feels like you have magic at your finger tips.  You can sit down and create <em>anything</em>.
			</p>
			<p class="colum-content">
				<a href="https://docs.google.com/file/d/0BzEjupXo3rHQYVFiMVphcDdfN00/edit" target="_blank"><button>Download Resume (PDF)</button></a>
			</p>
		</div>
	</div>
</section>

<section class="row about-row">
	<div class="content-area">
		<h2 class="colum-content block-colum-title">
			Who is this guy?
		</h2>
		<div class="colum half">
			<p class="colum-content">
				As long as I can remember I've enjoyed <strong>concepting</strong>, <strong>designing</strong>, and <strong>building things</strong>.  In hindsight, it makes sense that I've wound up doing development.  I use all these skills in my work and, in turn, I <a href="/assets/images/relish_dog.jpg" target="_blank">relish</a> it.  
			</p>
			<p class="colum-content">
				I've been developing for over <strong>4 years</strong> here in Chicago, IL.  My primary focus has been <strong>front end web development</strong> but I have server side and mobile development experience as well.
			</p>
		</div
		><div class="colum half">
			<p class="colum-content">
				Various experiences have led me to concentrate on <strong>JavaScript</strong> as my primary language.  The trends with JavaScript are thrilling to use and participate in.  I thrive in this environment of new technology.
			</p>
		</div>
	</div>
</section>

{{#each profile.sections}}
	<section {{bind-attr class="type:inverted:normal :row :header-row"}} {{bind-attr id="slug"}}>
		<div class="content-area">
			<h1 class="colum-content block-colum-title">
				{{title}}
			</h1>
			{{#if description}}
				<div class="content-area">
					<div class="colum full">
						{{{description}}}
					</div>
				</div>
			{{/if}}
		</div>
	</section>
	{{#each subSections}}
		<section {{bind-attr class="section.type:inverted:normal :row :sub-row"}}>
			<div class="content-area">
				<h2 class="colum-content block-colum-title">
					{{title}}
				</h2>
				<div class="colum third">
					{{{description}}}
				</div
				><div class="colum third">
					<h3 class="colum-content">Relevant skills</h3>
					<ul class="colum-content pill-list">
						{{#each skills}}<li>{{title}}</li>{{/each}}
					</ul>
				</div
				><div class="colum third">
					<h3 class="colum-content">Relevant Work History</h3>
					{{!-- {{!job-list jobs=jobs}} --}}
					<ul class="pill-list colum-content">
						{{#each jobs}}<li class="pill-button" {{action "openModal" "job" this}}>{{position}} - {{company}}</li>{{/each}}
					</ul>
				</div>
			</div>
		</section>
	{{/each}}
{{/each}}
